<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Blog Website</title>
  <meta charset="utf-8">
  <!-- Bootstrap link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- CSS link -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BioRhyme&family=Merriweather:ital@0;1&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
   <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/48ff83e72f.js" crossorigin="anonymous"></script>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"> <a class="btn btn-primary" href="/compose" role="button">+Compose</a>  </p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="https://utkarshkeshri22.github.io/portfolio/">ABOUT ME</a></li>
          <li id="contact"><a href="mailto:utkarsh.keshri@gmail.com">CONTACT ME</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
