<%- include("partials/header"); -%>
<div class="contact-me" id="Socials">
  <h3 class="git">Get In Touch</h3>
  <a class="btn gitbtn" href="mailto:utkarsh.keshri@gmail.com">CONTACT ME</a>
  
</div>
<%- include("partials/footer"); -%>
